html {
    font-family: 'Alegreya Sans SC';
    text-align: center;
    background-color: #ffffff;
    overflow: hidden;
}

h1 {
    font-size: 4em;
    margin: 0px;
}

main {
    margin: auto;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
}
a{
    font-size: 20px;
}

.selection {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.selection a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-color: black;
    cursor: pointer;
}


#pages a:hover {
    background-color: #848482;
    color: black;
}


#pages a.active {
    background-color: #4CAF50;
    color: white;
}
.line{
    height: 5px;
    margin: 0px;
    width: 100%
}
.red{
    background-color: #cc0000;
}
.blue{
    background-color: #3333ff;
}
.yellow{
    background-color: #ffcc00;
}
