html{
    font-family: 'Alegreya Sans SC';
    text-align: center;
    background-color: #C2C2C2;
}
h1{
    font-size: 4em;
    margin: 0px;
}
svgCanvas{
    border: 2px solid #000000;
    height: 750px;
    width: 750px;
    background-color: #ffffff;
}
#footer{
    bottom: 0;
    left: 0;
    right: 0;
}
